Release
Debug

bin

*.suo

/Local.testsettings

/Utilities/Local.testsettings
/TestResults/Deploy_Per 2013-11-23 17_21_14/Out
/PdfToText/*.user
/Backup/*.user
/FileTests/bin
/FileTests/obj
bin
obj
